################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs/Restaurante/v17/.suo
/.vs/Restaurante/v17/.suo
